.card-container{ 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2em;
   margin: 3em 0;
}
.card-img{
   max-width: 400px;
   max-height: 250px;
   object-fit: cover;
}
.card-content{
   max-width: 400px;
   min-height: 150px;
}